div#title
{
	font-size: 1.5em;
	color: #fff;
	min-height: 30px;
}
div#author
{
	min-height: 30px;
	color: #fff;
}
div#like
{
	min-height: 30px;
}
div.row.content
{
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
	border-color: #280547;
	border: 2px solid #280547;
}
div.row.header
{
	min-height: 40px;
	background-color: #280547;
	line-height: 35px;
	max-height: 70px;
}
.heart
{
	position: fixed;
	right: 10px;
	height: 70px;
	z-index: 1000;
	bottom: 30px;
}
.count
{
	position: fixed;
	right: 40px;
	z-index: 1001;
	bottom: 55px;
}
.row.comment_row
{
	padding: 5px 5px 5px 10px;
	margin: 2px 5px 2px 5px;
	border-color: #280547;
	border: 1px solid #280547;
}
.user_id
{
	padding-left: 10px;
	float: left;
}
.created_at
{
	padding-right: 15px;
	float: right;
}
#comment
{
	padding-left: 10px;
	padding-right: 10px;
}
hr
{
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #280547;
}
#comment_submit
{
	float: right;
	background-color: #280547;
	border-radius: 0px;
	border-color: #280547;
	color: #fff;	
}
#comment_text
{
	width: 100%;
	border-radius: 0px;
	border: 1px solid rgb(40, 5, 71);
	height: 100%
}
#comment_text_box
{
	padding-left: 0px;
	height: 35px;
}
#comment_submit_box
{
	padding-right: 0px;
}
input:focus
{
	background-color: #280547;
	color: #fff;
}
#author_image
{
	position: absolute;
}
.img-rounded:hover
{
	position: absolute;
	width: 80px;
	height: auto;
	margin-top: -62px;
    z-index:999;
}
.comment_edit
{
	padding-left: 20px;
	font-style: italic;
}
