div#title
{
	font-size: 1.5em;
	color: #fff;
	min-height: 30px;
}
div#author
{
	min-height: 30px;
	color: #fff;
}
div#like
{
	min-height: 30px;
}
div.row.content
{
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
	border-color: #280547;
	border: 2px solid #280547;
}
div.row.header
{
	min-height: 40px;
	background-color: #280547;
	line-height: 35px;
	max-height: 70px;
}